.App{
  background:
      linear-gradient(to top left, rgb(44, 44, 44), transparent),
      linear-gradient(to top right, rgb(119, 0, 255), transparent);
  background-blend-mode: screen;
  text-align: center;
  height: 100%;
}